@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


body {
  @apply bg-gray-50 text-gray-900;
}

html, body, #root {
  height: 100%;
}

/* ========== SCROLLBAR (LIGHT MODE) ========== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}

::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray-400 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}


